<!-- <nav class="d-flex align-self-center main-nav bg-primary text-dark">
    <div class="py-2 pl-4">
        <b>Expenses and Income</b>
    </div>
    <div class="py-2 right">
        <b>Balance: {{balance}}</b>
    </div>
</nav> -->

<nav class="d-flex align-self-center main-nav bg-primary text-dark">
    <div class="pt-3 pl-4">
        <b>
            <h2>
                Expenses and Income
            </h2>
        </b>
    </div>
    <div class="pt-3 right">
        <b>
            <h2>
                Balance: {{balance}}
            </h2>
        </b>
    </div>
</nav>

<p-tabView styleClass="tabview-custom p-3" (onChange)="handleChange($event)">

    <p-tabPanel>
        <ng-template pTemplate="header">
            <span>Expenses</span>
        </ng-template>

        <ng-container>
            <button class="p-button bg-dark rounded mb-2" (click)="createVoucher()">
                Add Voucher
            </button>
            <ng-container>
                <p-table styleClass="p-datatable-gridlines" [scrollable]="true" scrollHeight="400px"
                    [value]="expenseData" class="mx-3" [paginator]="true" [rows]="size"
                    [totalRecords]="totalRecordsForExpense"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                    [showCurrentPageReport]="true" [rowsPerPageOptions]="rowsPerPageOptions">
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngFor="let col of expenseCols" pResizableColumn>
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-expense>
                        <tr>
                            <td>
                                {{expense.payTo}}
                            </td>
                            <td>
                                {{expense.amount|currency:"INR":"symbol"}}
                            </td>
                            <td>
                                {{expense.payType}}
                            </td>
                            <td>
                                {{expense.description}}
                            </td>
                            <td>
                                <button class="p-button bg-dark rounded" (click)="viewVoucher(expense)">
                                    View Voucher
                                </button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td [attr.colspan]="5" class="text-center">
                                No records found
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-container>
        </ng-container>












    </p-tabPanel>

    <!-- review submitted -->
    <p-tabPanel>
        <ng-template pTemplate="header">
            <span>Income</span>
        </ng-template>

        <ng-container>
            <ng-container>
                <p-table styleClass="p-datatable-gridlines" [scrollable]="true" scrollHeight="400px"
                    [value]="incomeData" class="mx-3" [paginator]="true" [rows]="size" [totalRecords]="totalRecords"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                    [showCurrentPageReport]="true" [rowsPerPageOptions]="rowsPerPageOptions">
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngFor="let col of cols" pResizableColumn>
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-income>
                        <tr>
                            <td>
                                {{income.amount |currency:"INR":"symbol"}}
                            </td>
                            <td>
                                {{income.payType}}
                            </td>
                            <td>
                                {{income.description}}
                            </td>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td [attr.colspan]="3" class="text-center">
                                No records found
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-container>
        </ng-container>



    </p-tabPanel>


</p-tabView>
<p-dialog [(visible)]="voucherDialog" [style]="{width: '450px'}" header="{{popupHeader}}" [modal]="true"
    styleClass="p-fluid" (onHide)="hideExpenseDialog()">

    <ng-template pTemplate="content">
        <!-- <div class="p-field">
            <input type="text" [(ngModel)]="amount">
            <span>{{amount | numberToWords}}</span>
        </div> -->
        <form [formGroup]="expenseFormGroup" (ngSubmit)="onSubmitExpense()">
            <div class="p-field">
                <label for="name">Pay to* </label>
                <input type="text" autofocus pInputText id="regionName" formControlName="payTo" placeholder="Pay to"
                    required maxLength="200" />
                <div class="p-invalid"
                    *ngIf="(submitted && !expenseFormGroup.get('payTo').valid) || (!expenseFormGroup.get('payTo').valid && expenseFormGroup.get('payTo').touched) ">
                    <div *ngIf="(expenseFormGroup.get('payTo').errors.required) ">
                        Required </div>
                </div>
            </div>
            <div class="p-field">
                <label for="name">Amount* </label>
                <input type="text" pInputText id="regionName" formControlName="amount" placeholder="Enter Amount"
                    required pKeyFilter="num" maxLength="50" />
                <div class="p-invalid"
                    *ngIf="(submitted && !expenseFormGroup.get('amount').valid) || (!expenseFormGroup.get('amount').valid && expenseFormGroup.get('amount').touched) ">
                    <div *ngIf="(expenseFormGroup.get('amount').errors.required) ">
                        Required </div>
                </div>
            </div>
            <!-- [(ngModel)] = "password" [ngModelOptions]="{standalone: true}" -->
            <div class="p-field">
                <label for="name">Amount In Words </label>
                <input type="text" pInputText [(ngModel)]="amountInWords" [ngModelOptions]="{standalone: true}"
                    placeholder="Amount In Words" disabled />
            </div>
            <div class="p-field">
                <label for="name">Paid By* </label>
                <p-dropdown [options]="payTypeList" autofocus formControlName="payType" optionLabel="name"
                    optionValue="name" [showClear]="true" placeholder="Select pay type">
                </p-dropdown>
                <div class="p-invalid"
                    *ngIf="(submitted && !expenseFormGroup.get('payType').valid) || (!expenseFormGroup.get('payType').valid && expenseFormGroup.get('payType').touched) ">
                    <div *ngIf="(expenseFormGroup.get('payType').errors.required) ">
                        Required </div>
                </div>
            </div>
            <div class="p-field"
                *ngIf="this.expenseFormGroup.get('payType').value === 'Cheque' || this.expenseFormGroup.get('payType').value === 'OverDraft'">
                <label for="referenceNo"> Reference No / Cheque No* </label>
                <input type="text" pInputText id="referenceNo" formControlName="referenceNo"
                    placeholder="Enter referenceNo" required autofocus pKeyFilter="num" maxLength="50" />
                <div class="p-invalid"
                    *ngIf="(submitted && !expenseFormGroup.get('referenceNo').valid) || (!expenseFormGroup.get('referenceNo').valid && expenseFormGroup.get('referenceNo').touched) ">
                    <div *ngIf=" ( expenseFormGroup.get('referenceNo').errors.required) ">
                        Required </div>
                </div>
            </div>
            <div class="p-field">
                <label for="name">Description* </label>
                <!-- <input type="text" pInputText id="regionName" formControlName="description"
                    placeholder="Enter Description" autofocus required maxLength="50" /> -->
                <textarea pInputText formControlName="description" maxlength="500" name="description" id="" cols="200"
                    rows="4" class="w-100" placeholder="Enter Description"></textarea>
                <div class="p-invalid"
                    *ngIf="(submitted && !expenseFormGroup.get('description').valid) || (!expenseFormGroup.get('description').valid && expenseFormGroup.get('description').touched) ">
                    <div *ngIf=" ( expenseFormGroup.get('description').errors.required) ">
                        Required </div>
                </div>
            </div>

        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="bg-primary text-dark"
            (click)="hideExpenseDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="bg-dark" (click)="onSubmitExpense()"></button>
    </ng-template>

</p-dialog>

<p-dialog [(visible)]="viewVoucherDialog" [style]="{width: '500px'}" [modal]="true" styleClass="p-fluid"
    (onHide)="hideVoucherDialog()">

    <div id="htmlData">
        <table class="table">
            <thead class="thead-light">
                <tr class="table-primary">
                    <th scope="col" class="align-center text-center mb-2" colspan="3" style="font-size: 2rem;">
                        Voucher Receipt</th>
                </tr>
                <tr class="table-primary">
                    <th scope="col" colspan="3">The Aqua Polaris Appartment, Nr. S.P. Ring Road, NH-8,
                        Nr. Pushkar bung, Nana Chiloda, Ahmedabad</th>
                </tr>
                <tr class="table-primary">
                    <th scope="col" colspan="3">Month : {{receiptDetail?.createdDate | date}}</th>
                </tr>
                <!-- <tr>
                    <th scope="col" colspan="3">Amount : {{receiptDetail?.amount|currency:"INR":"symbol"}}</th>
                </tr> -->
            </thead>
            <tbody>
                <tr>
                    <td class="table-dark"> <b> Pay to: </b> </td>
                    <td> {{receiptDetail?.payTo}}</td>
                </tr>
                <tr>
                    <td class="table-dark"><b> Amount :</b> </td>
                    <td>{{receiptDetail?.amount|currency:"INR":"symbol"}}</td>
                </tr>
                <tr>
                    <td class="table-dark"> <b> Amount in Words: </b> </td>
                    <td>{{receiptDetail?.amount| numberToWords}}</td>
                </tr>
                <tr>
                    <td class="table-dark"> <b> Description: </b> </td>
                    <td> {{receiptDetail?.description}}</td>
                </tr>
                <tr>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                </tr>
            </tbody>
        </table>

    </div>

    <ng-template pTemplate="footer">
        <button type="button" pButton pRipple (click)="exportPdf()" class="bg-dark" pTooltip="Download PDF"
            tooltipPosition="bottom">
            <i class="pi pi-download" style="font-size: 15px"></i>
        </button>
    </ng-template>

    <!-- <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="bg-admin"
            (click)="hideVoucherDialog()"></button>
    </ng-template> -->

</p-dialog>