<nav class="d-flex align-self-center main-nav bg-primary text-dark">
    <div class="py-2 pl-4">
        <b>Dashboard</b>
    </div>
</nav>
<div class="container-fluid my-3">
    <div class="row">
        <div class="col-12">
            <p-table tyleClass="p-datatable-gridlines" [scrollable]="true" scrollHeight="400px" [value]="lstofUser" #dt
                class="mx-3" [paginator]="true" [rows]="size" [totalRecords]="totalRecords"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} regions"
                [showCurrentPageReport]="true" [rowsPerPageOptions]="rowsPerPageOptions">
                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let col of cols">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td>
                            {{user.user_name}}
                        </td>
                        <td *ngIf="user.amount > 0; else amountPaid">
                            <p style="color: red;">
                                {{user.amount |currency:"INR":"symbol"}}
                            </p>
                        </td>
                        <ng-template #amountPaid>
                            <td>
                                <p style="color: green;">
                                    {{user.amount |currency:"INR":"symbol"}}
                                </p>
                            </td>
                        </ng-template>
                        <td>
                            <button style="font-size: 15px; padding: 10px;" class="p-button bg-dark rounded"
                                (click)="generateMaintenance(user.user_name)">
                                <i class="pi pi-upload" style="font-size: 15px"></i>
                            </button> &nbsp;
                            <button class="p-button bg-dark rounded" style="font-size: 15px; padding: 10px;"
                                (click)="generateMaintenanceBill(user.user_name)">
                                <i class="pi pi-eye" style="font-size: 15px"></i>
                            </button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td [attr.colspan]="3" class="text-center">
                            No records found
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="col-12">
            <div class="card h-100">
                <div class="card-header p-3">
                    <p>
                        Admin
                    </p>
                </div>
                <div class="card-text p-3">
                    <div class="row">
                        <div class="col-6">
                            <span class="pb-1">
                                <p class="d-inline w-25">
                                    Tenant fees: 1000
                                </p>
                                <br>
                                <button style="font-size: 15px; padding: 5px;"
                                    class="p-button bg-primary rounded d-inline" (click)="addTenatFees()">
                                    Add Tenant Fees
                                </button>
                            </span>
                            <br>
                            <span class="pb-1">
                                <p class="d-inline">
                                    Maintenance: 1000
                                </p>
                                <br>
                                <button style="font-size: 15px; padding: 5px;"
                                    class="p-button bg-primary rounded d-inline" (click)="addMaintenanceFees()">
                                    Change Maintainence Amount
                                </button>
                            </span>
                            <br>
                            <span class="pb-1">
                                <p class="d-inline">
                                    water bill per unit: 1000
                                </p>
                                <br>
                                <button style="font-size: 15px; padding: 5px;"
                                    class="p-button bg-primary rounded d-inline" (click)="addWaterBillFees()">
                                    Change Water Unit Amount
                                </button>
                            </span>
                            <br>
                            <span class="pb-1">
                                <p class="d-inline">
                                    Transfer Fees for 2BHK : 100
                                    Transfer Fees for 3BHK : 200
                                </p>
                                <br>
                                <button style="font-size: 15px; padding: 5px;"
                                    class="p-button bg-primary rounded d-inline" (click)="addTransferFees()">
                                    Trasfer Fees
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<p-dialog [(visible)]="waterBillDialog" [style]="{width: '450px'}" header="{{popupHeader}}" [modal]="true"
    styleClass="p-fluid" (onHide)="hideWaterBillDialog()">

    <ng-template pTemplate="content">
        <form [formGroup]="waterBillForm" (ngSubmit)="onSubmitWaterBillForm()">
            <div class="p-field">
                <label for="name">Amount* </label>
                <input type="text" pInputText id="regionName" formControlName="amount" placeholder="Enter Amount"
                    required autofocus pKeyFilter="num" maxLength="50" />
                <div class="p-invalid"
                    *ngIf="waterBillForm.controls['amount'].touched && (waterBillForm.controls['amount'].hasError('required') && !waterBillForm.controls['amount'].valid)">
                    required
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="bg-admin"
            (click)="hideWaterBillDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-outlined"
            (click)="onSubmitWaterBillForm()"></button>
    </ng-template>

</p-dialog>




<p-dialog [(visible)]="tenatDialog" [style]="{width: '450px'}" header="{{popupHeader}}" [modal]="true"
    styleClass="p-fluid" (onHide)="hidetenatDialog()">

    <ng-template pTemplate="content">
        <form [formGroup]="tenatForm" (ngSubmit)="onSubmitTenatForm()">
            <div class="p-field">
                <label for="name">Amount* </label>
                <input type="text" pInputText id="regionName" formControlName="amount" placeholder="Enter Amount"
                    required autofocus pKeyFilter="num" maxLength="50" />
                <div class="p-invalid"
                    *ngIf="tenatForm.controls['amount'].touched && (tenatForm.controls['amount'].hasError('required') && !tenatForm.controls['amount'].valid)">
                    required
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="bg-admin" (click)="hidetenatDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-outlined"
            (click)="onSubmitTenatForm()"></button>
    </ng-template>

</p-dialog>




<p-dialog [(visible)]="maintenanceDialog" [style]="{width: '450px'}" header="{{popupHeader}}" [modal]="true"
    styleClass="p-fluid" (onHide)="hidemaintenanceDialog()">

    <ng-template pTemplate="content">
        <form [formGroup]="maintenanceForm" (ngSubmit)="onSubmitMaintenanceForm()">
            <div class="p-field">
                <label for="name">Amount* </label>
                <input type="text" pInputText id="regionName" formControlName="amount" placeholder="Enter Amount"
                    required autofocus pKeyFilter="num" maxLength="50" />
                <div class="p-invalid"
                    *ngIf="maintenanceForm.controls['amount'].touched && (maintenanceForm.controls['amount'].hasError('required') && !maintenanceForm.controls['amount'].valid)">
                    required
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="bg-admin"
            (click)="hidemaintenanceDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-outlined"
            (click)="onSubmitMaintenanceForm()"></button>
    </ng-template>

</p-dialog>


<p-dialog [(visible)]="TransferDialog" [style]="{width: '450px'}" header="{{popupHeader}}" [modal]="true"
    styleClass="p-fluid" (onHide)="hideTransferDialog()">

    <ng-template pTemplate="content">
        <form [formGroup]="TransferForm" (ngSubmit)="onSubmitTransferFeesForm()">
            <div class="p-field">
                <label for="name">Select Flat* </label>
                <p-dropdown [options]="flatType" formControlName="type" placeholder="Select Flat Type">
                </p-dropdown>
                <div class="p-invalid"
                    *ngIf="TransferForm.controls['amount'].touched && (TransferForm.controls['amount'].hasError('required') && !TransferForm.controls['amount'].valid)">
                    required
                </div>
            </div>
            <div class="p-field">
                <label for="name">Amount* </label>
                <input type="text" pInputText id="regionName" formControlName="amount" placeholder="Enter Amount"
                    required autofocus pKeyFilter="num" maxLength="50" />
                <div class="p-invalid"
                    *ngIf="TransferForm.controls['amount'].touched && (TransferForm.controls['amount'].hasError('required') && !TransferForm.controls['amount'].valid)">
                    required
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="bg-admin"
            (click)="hideTransferDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-outlined"
            (click)="onSubmitTransferFeesForm()"></button>
    </ng-template>

</p-dialog>



<!-- Generate maintenance Dialog -->
<p-dialog [(visible)]="generateMaintenanceDialog" [style]="{width: '450px'}" header="{{popupHeader}}" [modal]="true"
    styleClass="p-fluid" (onHide)="hideGenerateMaintenanceDialog()">

    <ng-template pTemplate="content">
        <form [formGroup]="generateMaintenanceForm" (ngSubmit)="GenerateMaintenanceBill()">
            <div class="p-field">
                <label for="maintenanceAmount">Maintenance Amount* </label>
                <input type="text" disabled pInputText id="maintenanceAmount" formControlName="maintenanceAmount"
                    placeholder="Enter Maintenance Amount" required autofocus pKeyFilter="num" maxLength="50" />
                <div class="p-invalid"
                    *ngIf=" generateMaintenanceFormSubmitted && generateMaintenanceForm.controls['maintenanceAmount'].touched && (generateMaintenanceForm.controls['maintenanceAmount'].hasError('required') && !generateMaintenanceForm.controls['maintenanceAmount'].valid)">
                    required
                </div>
            </div>
            <div class="p-field">
                <label for="waterAmount">Water Bill Amount* </label>
                <input type="text" disabled pInputText id="waterAmount" formControlName="waterAmount"
                    placeholder="Enter Water Amount" required autofocus pKeyFilter="num" maxLength="50" />
                <div class="p-invalid"
                    *ngIf=" generateMaintenanceFormSubmitted && generateMaintenanceForm.controls['waterAmount'].touched && (generateMaintenanceForm.controls['waterAmount'].hasError('required') && !generateMaintenanceForm.controls['waterAmount'].valid)">
                    required
                </div>
            </div>
            <div class="p-field">
                <label for="reading">Used Water unit* </label>
                <input type="text" pInputText id="reading" formControlName="reading" placeholder="Enter Reading"
                    required autofocus pKeyFilter="num" maxLength="50" />
                <div class="p-invalid"
                    *ngIf=" generateMaintenanceFormSubmitted && generateMaintenanceForm.controls['reading'].touched && (generateMaintenanceForm.controls['reading'].hasError('required') && !generateMaintenanceForm.controls['reading'].valid)">
                    required
                </div>
            </div>
            <div class="p-field">
                <label for="previousReading">Previous Reading* </label>
                <input type="text" pInputText id="previousReading" formControlName="previousReading"
                    placeholder="Enter Previous Reading" required autofocus pKeyFilter="num" maxLength="50" />
                <div class="p-invalid"
                    *ngIf=" generateMaintenanceFormSubmitted && generateMaintenanceForm.controls['previousReading'].touched && (generateMaintenanceForm.controls['previousReading'].hasError('required') && !generateMaintenanceForm.controls['previousReading'].valid)">
                    required
                </div>
            </div>
            <div class="p-field">
                <label for="currentReading">Current Reading* </label>
                <input type="text" pInputText id="currentReading" formControlName="currentReading"
                    placeholder="Enter Current Reading" required autofocus pKeyFilter="num" maxLength="50" />
                <div class="p-invalid"
                    *ngIf=" generateMaintenanceFormSubmitted && generateMaintenanceForm.controls['currentReading'].touched && (generateMaintenanceForm.controls['currentReading'].hasError('required') && !generateMaintenanceForm.controls['currentReading'].valid)">
                    required
                </div>
            </div>
            <div class="p-field">
                <label for="averageReading">Average Reading* </label>
                <input type="text" pInputText id="averageReading" formControlName="averageReading"
                    placeholder="Enter Average Reading" autofocus pKeyFilter="num" maxLength="50" />
                <div class="p-invalid"
                    *ngIf=" generateMaintenanceFormSubmitted && generateMaintenanceForm.controls['averageReading'].touched && (generateMaintenanceForm.controls['averageReading'].hasError('required') && !generateMaintenanceForm.controls['averageReading'].valid)">
                    required
                </div>
            </div>
            <div class="p-field">
                <label for="amount">Total Payable Amount* </label>
                <input type="text" disabled pInputText id="amount" formControlName="amount" placeholder="Enter Amount"
                    required autofocus pKeyFilter="num" maxLength="50" />
                <div class="p-invalid"
                    *ngIf=" generateMaintenanceFormSubmitted && generateMaintenanceForm.controls['amount'].touched && (generateMaintenanceForm.controls['amount'].hasError('required') && !generateMaintenanceForm.controls['amount'].valid)">
                    required
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="bg-admin"
            (click)="hideGenerateMaintenanceDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-outlined"
            (click)="GenerateMaintenanceBill(generateMaintenanceForm)"></button>
    </ng-template>

</p-dialog>

<!-- Generate maintenance Bill Dialog -->
<p-dialog [(visible)]="generateMaintenanceBillDialog" [style]="{width: '650px'}" [modal]="true" styleClass="p-fluid"
    (onHide)="hideGenerateMaintenanceBillDialog()">

    <ng-template pTemplate="content">

        <div id="htmlData" *ngIf="generateMaintenanceBillDialog">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="align-center text-center" colspan="3" style="font-size: 2rem;">
                            Maintenance Bill</th>
                    </tr>
                    <tr>
                        <th scope="col" colspan="3">The Aqua Polaris Appartment, Nr. S.P. Ring Road, NH-8,
                            Nr. Pushkar bung, Nana Chiloda, Ahmedabad</th>
                    </tr>
                    <tr>
                        <th scope="col" colspan="3">Name : {{flatNo}}</th>
                    </tr>
                    <tr>
                        <th scope="col" colspan="3">Month : createdDate</th>
                    </tr>
                    <tr>
                        <th scope="col">Description</th>
                        <th scope="col">Unit</th>
                        <th scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-wrap text-break">Current Reading</td>
                        <td *ngIf="receiptDetail?.reading">{{receiptDetail?.reading}}</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>Used Unit </td>
                        <td *ngIf="receiptDetail?.usedUnit">{{receiptDetail?.usedUnit}}</td>
                        <td>33</td>
                    </tr>
                    <tr>
                        <td>Rate /- unit</td>
                        <td *ngIf="receiptDetail?.waterAmount">{{receiptDetail?.waterAmount}}</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Maintenance Amount</td>
                        <td *ngIf="receiptDetail?.maintenanceAmount">{{receiptDetail?.maintenanceAmount}}</td>
                        <td>653</td>
                    </tr>
                    <tr>
                        <td>Remaining Amount</td>
                        <td>55</td>
                        <td>653</td>
                    </tr>
                    <tr>
                        <td>Payment type</td>
                        <td *ngIf="receiptDetail?.payType">{{receiptDetail?.payType.label}}</td>
                        <td>653</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td *ngIf="receiptDetail?.amount">{{receiptDetail?.amount}}</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button type="button" pButton pRipple (click)="exportPdf()" class="p-button-warning" pTooltip="Download PDF"
            tooltipPosition="bottom">
            <i class="pi pi-download" style="font-size: 15px"></i>
        </button>
    </ng-template>

</p-dialog>