<nav class="d-flex align-self-center main-nav bg-primary text-dark">
    <div class="py-2 pl-4">
        <b>Payment Summary</b>
    </div>
</nav>
<div class="container-fluid my-3">
    <div class="row">
        <div class="col-12">
            <p-table styleClass="p-datatable-gridlines" [scrollable]="true" scrollHeight="400px" [value]="userAmountData"
                class="mx-3" [paginator]="true" [rows]="size" [totalRecords]="totalRecords"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                [showCurrentPageReport]="true" [rowsPerPageOptions]="rowsPerPageOptions">
                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let col of cols" pResizableColumn>
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                    <tr>
                        <td>
                            {{data.amount|currency:"INR":"symbol"}}
                        </td>
                        <td>
                            {{data.createdDate| date: shortDate}}
                        </td>
                        <td>
                            {{data.payType}}
                        </td>
                        <td>
                            <!-- <button style="font-size: 15px; padding: 10px;" class="p-button bg-dark rounded"
                                >
                                <i class="pi pi-upload" style="font-size: 15px"></i>
                            </button> &nbsp; -->
                            <button class="p-button bg-dark rounded" style="font-size: 15px; padding: 10px;"
                            (click)="viewReceipt(data)" pTooltip="View Receipt">
                                <i class="pi pi-eye" style="font-size: 15px"></i>
                            </button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td [attr.colspan]="3" class="text-center">
                            No records found
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<!-- Generate maintenance Bill Dialog -->
<p-dialog [(visible)]="viewReceiptDialog" [style]="{width: '450px'}" [modal]="true" styleClass="p-fluid"
    (onHide)="hideViewReceiptDialog()">

    <ng-template pTemplate="content">

        <div id="htmlData" *ngIf="viewReceiptDialog">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="align-center text-center" colspan="3" style="font-size: 2rem;">
                            Payment Receipt</th>
                    </tr>
                    <tr>
                        <th scope="col" colspan="3">The Aqua Polaris Appartment, Nr. S.P. Ring Road, NH-8,
                            Nr. Pushkar bung, Nana Chiloda, Ahmedabad</th>
                    </tr>
                    <tr>
                        <th scope="col" colspan="3">Name : {{flatNo}}</th>
                    </tr>
                    <tr>
                        <th scope="col" colspan="3">Month : {{recieptData?.createdDate| date:shortDate}}</th>
                    </tr>
                    <tr>
                        <th scope="col" colspan="3">Payment type : {{recieptData?.payType}}</th>
                        <!-- <td *ngIf="recieptData?.pay_type">{{recieptData?.pay_type}}</td> -->
                        <!-- <td></td> -->
                    </tr>
                    <tr>
                        <th scope="col">Description</th>
                        <th scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Amount</td>
                        <td *ngIf="recieptData?.amount">{{recieptData?.amount}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Remaining Amount</td>
                        <td *ngIf="remainingAmount">{{remainingAmount}}</td>
                        <td></td>
                    </tr>
                   
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td *ngIf="recieptData?.amount">{{recieptData?.amount}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

        </div>

    </ng-template>
    <ng-template pTemplate="footer">
        <button type="button" pButton pRipple (click)="exportPdf()" class="p-button-warning" pTooltip="Download PDF"
            tooltipPosition="bottom">
            <i class="pi pi-download" style="font-size: 15px"></i>
        </button>
    </ng-template>

</p-dialog>
