<div class="container">
    <p-table >
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of cols">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <!-- <ng-template pTemplate="body" let-user>
            <tr>
                <td>
                    {{user.user_name}}
                </td>
                <td>
                    {{user.password}}
                </td>
                <td>
                    {{user.amount}}
                </td>
            </tr>
        </ng-template> -->
    </p-table>
</div>
<div class="col-md-8 form-group">    
    <input type="file" class="form-control" (change)="addfile($event)" placeholder="Upload file" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">    
</div> 