<!-- <nav class=" bg-dark top-0  w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg">
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">

    <div class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start">
      <a [routerLink]="['/']"
        class="text-white text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase">
        Aqua Polaris
      </a>
      <button
        class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded block lg:hidden outline-none focus:outline-none"
        type="button" (click)="setNavbarOpen()">
        <i class="text-white fas fa-bars"></i>
      </button>
    </div>

    <div class="collapse navbar-collapse my-2 my-sm-0 main-nav" id="navbarNav">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click)="onDashboardClick()">Dashboard <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="roleName==='ADMIN'">
          <a class="nav-link" style="cursor: pointer;" (click)="onReceiveMaintainenceClick()">Receive Maintainence</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click)="onExpenseAndIncomeCLick()">Expenses and Income</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click)="onAboutUsClick()">About us</a>
        </li>
        <li class="nav-item" *ngIf="roleName==='ADMIN'">
          <a class="nav-link" style="cursor: pointer;" (click)="onChangePasswordClick()" tabindex="-1"
            aria-disabled="true">Change Password</a>
        </li>
        <li class="nav-item" *ngIf="roleName==='USER'">
          <a class="nav-link" style="cursor: pointer;" (click)="onPaymentSummaryClick()" tabindex="-1"
            aria-disabled="true">Payment Summary</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="nav-link" style="cursor: pointer;" (click)="onLogoutClick()" tabindex="-1"
            aria-disabled="true">Logout</a>
        </li>
      </ul>
    </div>

  </div>
</nav> -->


<nav class="bg-dark top-0  w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg">
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">

    <div class="w-full relative flex justify-between lg:w-auto  px-4 lg:static lg:block lg:justify-start">
      <a [routerLink]="['/']"
        class="text-white text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase">
        Aqua Polaris
      </a>
      <button
        class="text-white cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
        type="button" (click)="toggleNavbar('example-collapse-navbar')">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
    </div>

    <div class="lg:flex flex-grow items-center hidden my-2 my-sm-0 main-nav" id="example-collapse-navbar"
      *ngIf="loggedInUser">
      <ul class="nav navbar-nav navbar-right">

        <!-- <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click)="onDashboardClick()">Dashboard <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="roleName==='ADMIN'">
          <a class="nav-link" style="cursor: pointer;" (click)="onReceiveMaintainenceClick()">Receive Maintainence</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click)="onExpenseAndIncomeCLick()">Expenses and Income</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click)="onAboutUsClick()">About us</a>
        </li>
        <li class="nav-item" *ngIf="roleName==='ADMIN'">
          <a class="nav-link" style="cursor: pointer;" (click)="onChangePasswordClick()" tabindex="-1"
            aria-disabled="true">Change Password</a>
        </li>
        <li class="nav-item" *ngIf="roleName==='USER'">
          <a class="nav-link" style="cursor: pointer;" (click)="onPaymentSummaryClick()" tabindex="-1"
            aria-disabled="true">Payment Summary</a>
        </li> -->

        <!-- <li>
          <a class="nav-link" style="cursor: pointer;" (click)="onLogoutClick()" tabindex="-1"
            aria-disabled="true">Logout</a>
        </li> -->

      </ul>

      <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click)="onDashboardClick()">Dashboard <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="roleName==='ADMIN'">
          <a class="nav-link" style="cursor: pointer;" (click)="onReceiveMaintainenceClick()">Receive Maintainence</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click)="onExpenseAndIncomeCLick()">Expenses and Income</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click)="onAboutUsClick()">About us</a>
        </li>
        <li class="nav-item" *ngIf="roleName==='ADMIN'">
          <a class="nav-link" style="cursor: pointer;" (click)="onChangePasswordClick()" tabindex="-1"
            aria-disabled="true">Change Password</a>
        </li>
        <li class="nav-item" *ngIf="roleName==='USER'">
          <a class="nav-link" style="cursor: pointer;" (click)="onPaymentSummaryClick()" tabindex="-1"
            aria-disabled="true">Payment Summary</a>
        </li>
        <li>
          <a class="nav-link" style="cursor: pointer;" (click)="onLogoutClick()" tabindex="-1" aria-disabled="true">
            Logout
            <i class="fa fa-sign-out" aria-hidden="true"></i>
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>