<nav class="d-flex align-self-center main-nav bg-primary text-dark">
    <div class="pt-3 pl-4">
        <b>
            <h2>
                Receive Maintenance
            </h2>
        </b>
    </div>
</nav>

<div class="container-fluid my-3">
    <p-table styleClass="p-datatable-gridlines" [scrollable]="true" scrollHeight="400px" [value]="lstofMaintenance" #dt
        class="mx-3" [paginator]="true" [rows]="size" [totalRecords]="totalRecords"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="rowsPerPageOptions">
        <ng-template pTemplate="colgroup">
            <colgroup>
                <col *ngFor="let col of cols" style="width: 150px;">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of cols">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr>
                <td>
                    {{data.userMasterId}}
                </td>
                <td>
                    {{data.createdDate|date}}
                </td>
                <td>
                    {{data.amount|currency:"INR":"symbol"}}
                </td>
                <td>
                    {{data.currentReading}}
                </td>
                <td>
                    {{data.previousReading}}
                </td>
                <td>
                    {{data.usedUnit}}
                </td>
                <td>
                    <p *ngIf="data.amountReceived">{{data.amountReceived|currency:"INR":"symbol"}}</p>
                    <p *ngIf="!data.amountReceived"> - </p>
                </td>
                <td>
                    <button pTooltip="View Generated Bill" class="p-button bg-dark rounded"
                        style="font-size: 15px; padding: 10px;" (click)="showMaintenanceBillDialog(data)">
                        <i class="pi pi-eye" style="font-size: 15px"></i>
                    </button> &nbsp;
                    <button pTooltip="Receive Maintenance" *ngIf="!data.maintenancePaid"
                        style="font-size: 15px; padding: 10px;" class="p-button bg-dark rounded"
                        (click)="showGenerateReceiptDialog(data)">
                        <i class="pi pi-upload" style="font-size: 15px"></i>
                    </button> &nbsp;
                    <button pTooltip="View Generated Receipt" *ngIf="data.maintenancePaid"
                        class="p-button bg-dark rounded" style="font-size: 15px; padding: 10px;"
                        (click)="showMaintenanceReceiptDialog(data)">
                        <i class="pi pi-eye" style="font-size: 15px"></i>
                    </button>
                    <button pTooltip="Edit Maintainence Bill" *ngIf="!data.maintenancePaid" class="p-button bg-dark rounded"
                    style="font-size: 15px; padding: 10px;" (click)="editMaintenanceBill(data)">
                    <i class="pi pi-pencil" style="font-size: 15px"></i>
                </button> &nbsp;
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td [attr.colspan]="8" class="text-center">
                    No records found
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>


<!-- Generate maintenance Bill Dialog -->
<p-dialog [(visible)]="maintenanceBillDialog" [style]="{width: '650px'}" [modal]="true" styleClass="p-fluid"
    (onHide)="hidemaintenanceBillDialog()">

    <ng-template pTemplate="content">
        <div id="generatedBillTabel" *ngIf="maintenanceBillDialog">
            <table class="table table-bordered">
                <thead class="thead-light ">
                    <tr class="">
                    </tr>
                    <tr class="table-primary">
                        <th scope="col" class="align-center text-center" colspan="3" style="margin-bottom: 20px;">
                            <img width="100" src="{{imageUrl}}" alt="profilePhoto" class="d-inline rounded-circle">
                            <p style="font-size: 2rem;" class="d-inline">
                                Maintenance Receipt
                            </p>
                        </th>
                    </tr>
                    <tr class="table-primary">
                        <th scope="col" colspan="3" class="text-center">The Aqua Polaris Co. Op. Housing Service Society
                            Limited,
                            <br>Nr. S.P. Ring Road, NH-8,
                            <br>Nr. Pushkar bung, Nana Chiloda, Ahmedabad
                            <br>382330
                            <br>Registered Cert. No.: NA DH N/ GNR/ SA(HA) 7347 Year 2012
                            <br>
                            <br><i class="pi pi-envelope"></i>&nbsp;aquapolaris0310@gmail.com
                            <!-- <br> -->
                            <!-- <br><i class="pi pi-phone"></i>&nbsp;9712393956 -->
                        </th>
                    </tr>
                    <tr class="table-primary">
                        <th scope="col" colspan="3">Maintenance Type: {{maintenanceBill.maintainenceType}}</th>
                    </tr>
                    <tr class="table-primary">
                        <th scope="col" colspan="3">Name : {{maintenanceBill.userMasterId}}</th>
                    </tr>
                    <tr class="table-primary">
                        <th scope="col" colspan="3">Generated Date : {{maintenanceBill.createdDate | date}}</th>
                    </tr>
                    <tr class="table-primary" *ngIf="maintenanceBill?.month">
                        <th scope="col" colspan="3">Month : {{maintenanceBill?.month}}</th>
                    </tr>
                    <tr class="table-dark">
                        <th scope="col">Description</th>
                        <th scope="col">Unit/Reading</th>
                        <th scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-wrap text-break">Current Reading</td>
                        <td *ngIf="maintenanceBill?.currentReading">{{maintenanceBill?.currentReading}}</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td class="text-wrap text-break">Previous Reading</td>
                        <td *ngIf="maintenanceBill?.previousReading">{{maintenanceBill?.previousReading}}</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Used Unit </td>
                        <td *ngIf="maintenanceBill?.usedUnit">{{maintenanceBill?.usedUnit}}</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Water Rate/unit</td>
                        <td *ngIf="maintenanceBill?.waterAmount else averageAmount">{{maintenanceBill?.waterAmount |currency:"INR":"symbol"}} per unit</td>                        
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Water Bill Amount</td>
                        <td>-</td>
                        <td *ngIf="maintenanceBill?.waterAmount">{{maintenanceBill?.waterAmount *
                            maintenanceBill?.usedUnit|currency:"INR":"symbol"
                            }}</td>
                    </tr>
                    <tr>
                        <td>Average Water Bill Amount</td>
                        <td>-</td>
                        <td *ngIf="maintenanceBill?.averageReading">{{maintenanceBill?.averageReading |currency:"INR":"symbol"}}</td>
                        <td *ngIf="!maintenanceBill?.averageReading">-</td>
                    </tr>
                    <tr>
                        <td>Maintenance Amount</td>
                        <td>-</td>
                        <td *ngIf="maintenanceBill?.maintenanceAmount">{{maintenanceBill?.maintenanceAmount
                            |currency:"INR":"symbol" }}</td>
                    </tr>
                    <tr>
                        <td>Other Amount</td>
                        <td *ngIf="maintenanceBill?.otherDescription">{{maintenanceBill?.otherDescription}}</td>
                        <td *ngIf="!maintenanceBill?.otherDescription">-</td>
                        <td *ngIf="maintenanceBill?.otherAmount">{{maintenanceBill?.otherAmount |currency:"INR":"symbol" }}</td>
                        <td *ngIf="!maintenanceBill?.otherAmount">-</td>
                    </tr>
                    <tr>
                        <td>Remaining Amount</td>
                        <td>-</td>
                        <td>{{maintenanceBill?.previousPendingAmount |currency:"INR":"symbol" }}</td>
                       
                        
                    </tr>
                    <!-- <tr>
                        <td>Payment type</td>
                        <td *ngIf="maintenanceBill?.payType">{{maintenanceBill?.payType.label}}</td>
                        <td>653</td>
                    </tr> -->
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="table-success">
                        <td>Total</td>
                        <td></td>
                        <td *ngIf="maintenanceBill?.amount">{{total|currency:"INR":"symbol" }}</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button type="button" pButton pRipple (click)="exportPdfForBill(maintenanceBill)" class="bg-dark" pTooltip="Download PDF"
            tooltipPosition="bottom">
            <i class="pi pi-download" style="font-size: 15px"></i>
        </button>
    </ng-template>

</p-dialog>


<!-- Generate maintenance Receipt Dialog -->
<p-dialog [(visible)]="maintenanceReceiptDialog" [style]="{width: '650px'}" [modal]="true" styleClass="p-fluid"
    (onHide)="hidemaintenanceReceiptDialog()">

    <ng-template pTemplate="content">
        <div id="generatedReceiptTabel" *ngIf="maintenanceReceiptDialog">
            <table class="table">
                <thead class="thead-light">
                    <tr class="table-primary">
                        <th scope="col" class="align-center text-center" colspan="3" style="margin-bottom: 20px;">
                            <img width="100" src="{{imageUrl}}" alt="profilePhoto" class="d-inline rounded-circle">
                            <!-- <img width="70" src="{{imageUrl}}" alt="profilePhoto" class="d-inline profileImage"> -->
                            <p style="font-size: 2rem;" class="d-inline">
                                Maintenance Receipt
                        </th>
                    </tr>
                    <tr class="table-primary">
                        <th scope="col" colspan="3" class="text-center">The Aqua Polaris Co. Op. Housing Service Society
                            Limited,
                            <br>Nr. S.P. Ring Road, NH-8,
                            <br>Nr. Pushkar bung, Nana Chiloda, Ahmedabad
                            <br>382330
                            <br>Registered Cert. No.: NA DH N/ GNR/ SA(HA) 7347 Year 2012
                            <br>
                            <br><i class="pi pi-envelope"></i>&nbsp;aquapolaris0310@gmail.com
                            <!-- <br> -->
                            <!-- <br><i class="pi pi-phone"></i>&nbsp;9712393956 -->
                        </th>
                    </tr>
                    <tr class="table-primary">
                        <th scope="col" colspan="3">Name : {{maintenanceReceipt.userMasterId}}</th>
                    </tr>
                    <tr class="table-primary">
                        <th scope="col" colspan="3">Month : {{maintenanceReceipt.month }} </th>
                    </tr>
                    <tr class="table-primary">
                        <th scope="col" colspan="3">Date : {{maintenanceReceipt.updatedDate | date }} </th>
                    </tr>
                    <tr class="table-dark">
                        <th scope="col">Description</th>
                        <th scope="col">Amount / Reference No.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Amount</td>
                        <td *ngIf="maintenanceReceipt?.amount">{{maintenanceReceipt?.amount
                            |currency:"INR":"symbol" }}</td>
                    </tr>
                    <tr>
                        <td>Payment type</td>
                        <td *ngIf="maintenanceReceipt?.payType">{{maintenanceReceipt?.payType}}</td>
                    </tr>
                    <tr>
                        <td>Reference No / Cheque No</td>
                        <td>{{maintenanceReceipt?.referenceNo? maintenanceReceipt?.referenceNo: '-' }}</td>
                    </tr>
                    <tr>
                        <td>Bank Name</td>
                        <td>{{maintenanceReceipt?.bankName? maintenanceReceipt?.bankName: '-'}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="table-success">
                        <td>Amount Paid</td>
                        <td *ngIf="maintenanceReceipt?.amount">
                            {{maintenanceReceipt?.amountReceived|currency:"INR":"symbol"}}</td>
                    </tr>
                    <tr class="table-success">
                        <td>Remaining Amount</td>
                        <td>{{remainingAmount|currency:"INR":"symbol"}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button type="button" pButton pRipple (click)="exportPdfForReceipt(maintenanceReceipt)" class="bg-dark" pTooltip="Download PDF"
            tooltipPosition="bottom">
            <i class="pi pi-download" style="font-size: 15px"></i>
        </button>
    </ng-template>

</p-dialog>


<!-- Generate maintenance Dialog -->
<p-dialog [(visible)]="generateReceiptDialog" [style]="{width: '450px'}" header="{{popupHeader}}" [modal]="true"
    styleClass="p-fluid" (onHide)="hideGenerateReceiptDialog()">

    <ng-template pTemplate="content">
        <form [formGroup]="generateMaintenanceForm" (ngSubmit)="GenerateMaintenanceBill()">
            <div class="p-field">
                <label for="maintenanceAmount">Maintenance Amount* </label>
                <input type="text" disabled pInputText id="maintenanceAmount" formControlName="maintenanceAmount"
                    placeholder="Enter Maintenance Amount" required autofocus pKeyFilter="num" maxLength="50" />
                <!-- <div class="p-invalid"
                    *ngIf=" generateMaintenanceFormSubmitted && generateMaintenanceForm.controls['maintenanceAmount'].touched && (generateMaintenanceForm.controls['maintenanceAmount'].hasError('required') && !generateMaintenanceForm.controls['maintenanceAmount'].valid)">
                    required
                </div> -->
                <div class="p-invalid"
                    *ngIf="(generateMaintenanceFormSubmitted && !generateMaintenanceForm.get('maintenanceAmount').valid) || (!generateMaintenanceForm.get('maintenanceAmount').valid && generateMaintenanceForm.get('maintenanceAmount').touched) ">
                    <div *ngIf=" (generateMaintenanceForm.get('maintenanceAmount').errors.required) ">
                        Required
                    </div>
                </div>
            </div>
            <div class="p-field">
                <label for="waterAmount">Water Bill Amount* </label>
                <input type="text" disabled pInputText id="waterAmount" formControlName="waterAmount"
                    placeholder="Enter Water Amount" required autofocus pKeyFilter="num" maxLength="50" />
                <!-- <div class="p-invalid"
                    *ngIf=" generateMaintenanceFormSubmitted && generateMaintenanceForm.controls['waterAmount'].touched && (generateMaintenanceForm.controls['waterAmount'].hasError('required') && !generateMaintenanceForm.controls['waterAmount'].valid)">
                    required
                </div> -->
                <div class="p-invalid"
                    *ngIf="(generateMaintenanceFormSubmitted && !generateMaintenanceForm.get('waterAmount').valid) || (!generateMaintenanceForm.get('waterAmount').valid && generateMaintenanceForm.get('waterAmount').touched) ">
                    <div *ngIf=" (generateMaintenanceForm.get('waterAmount').errors.required) ">
                        Required
                    </div>
                </div>
            </div>
            <div class="p-field">
                <label for="usedUnit">Used Water unit* </label>
                <input type="text" disabled pInputText id="usedUnit" formControlName="usedUnit"
                    placeholder="Enter Used Unit" required autofocus pKeyFilter="num" maxLength="50" />
                <!-- <div class="p-invalid"
                    *ngIf=" generateMaintenanceFormSubmitted && generateMaintenanceForm.controls['usedUnit'].touched && (generateMaintenanceForm.controls['usedUnit'].hasError('required') && !generateMaintenanceForm.controls['usedUnit'].valid)">
                    required
                </div> -->
                <div class="p-invalid"
                    *ngIf="(generateMaintenanceFormSubmitted && !generateMaintenanceForm.get('usedUnit').valid) || (!generateMaintenanceForm.get('usedUnit').valid && generateMaintenanceForm.get('usedUnit').touched) ">
                    <div *ngIf=" (generateMaintenanceForm.get('usedUnit').errors.required) ">
                        Required
                    </div>
                </div>
            </div>
            <div class="p-field">
                <label for="previousReading">Previous Reading* </label>
                <input type="text" pInputText id="previousReading" formControlName="previousReading"
                    placeholder="Enter Previous Reading" required autofocus pKeyFilter="num" maxLength="50" />
                <!-- <div class="p-invalid"
                    *ngIf=" generateMaintenanceFormSubmitted && generateMaintenanceForm.controls['previousReading'].touched && (generateMaintenanceForm.controls['previousReading'].hasError('required') && !generateMaintenanceForm.controls['previousReading'].valid)">
                    required
                </div> -->
                <div class="p-invalid"
                    *ngIf="(generateMaintenanceFormSubmitted && !generateMaintenanceForm.get('previousReading').valid) || (!generateMaintenanceForm.get('previousReading').valid && generateMaintenanceForm.get('previousReading').touched) ">
                    <div *ngIf=" (generateMaintenanceForm.get('previousReading').errors.required) ">
                        Required
                    </div>
                </div>
            </div>
            <div class="p-field">
                <label for="currentReading">Current Reading* </label>
                <input type="text" disabled pInputText id="currentReading" formControlName="currentReading"
                    placeholder="Enter Current Reading" required autofocus pKeyFilter="num" maxLength="50" />
                <!-- <div class="p-invalid"
                    *ngIf=" generateMaintenanceFormSubmitted && generateMaintenanceForm.controls['currentReading'].touched && (generateMaintenanceForm.controls['currentReading'].hasError('required') && !generateMaintenanceForm.controls['currentReading'].valid)">
                    required
                </div> -->
                <div class="p-invalid"
                    *ngIf="(generateMaintenanceFormSubmitted && !generateMaintenanceForm.get('currentReading').valid) || (!generateMaintenanceForm.get('currentReading').valid && generateMaintenanceForm.get('currentReading').touched) ">
                    <div *ngIf=" (generateMaintenanceForm.get('currentReading').errors.required) ">
                        Required
                    </div>
                </div>
            </div>
            <div class="p-field">
                <label for="averageReading">Average Reading* </label>
                <input type="text" disabled pInputText id="averageReading" formControlName="averageReading"
                    placeholder="Enter Average Reading" autofocus pKeyFilter="num" maxLength="50" />
                <!-- <div class="p-invalid"
                    *ngIf=" generateMaintenanceFormSubmitted && generateMaintenanceForm.controls['averageReading'].touched && (generateMaintenanceForm.controls['averageReading'].hasError('required') && !generateMaintenanceForm.controls['averageReading'].valid)">
                    required
                </div> -->
            </div>
            <div class="p-field">
                <label for="amount">Total Payable Amount* </label>
                <input type="text" disabled pInputText id="amount" formControlName="amount" placeholder="Enter Amount"
                    required autofocus pKeyFilter="num" maxLength="50" />
                <!-- <div class="p-invalid"
                    *ngIf=" generateMaintenanceFormSubmitted && generateMaintenanceForm.controls['amount'].touched && (generateMaintenanceForm.controls['amount'].hasError('required') && !generateMaintenanceForm.controls['amount'].valid)">
                    required
                </div> -->
            </div>
            <div class="p-field">
                <label for="name">Select Payment Type* </label>
                <p-dropdown [options]="paymentType" formControlName="payType" optionValue="label" [showClear]="true"
                    placeholder="Select payment type">
                </p-dropdown>
                <!-- <div class="p-invalid"
                    *ngIf="generateMaintenanceFormSubmitted && generateMaintenanceForm.controls['payType'].touched && (generateMaintenanceForm.controls['payType'].hasError('required') && !generateMaintenanceForm.controls['payType'].valid)">
                    required
                </div> -->
                <div class="p-invalid"
                    *ngIf="(generateMaintenanceFormSubmitted && !generateMaintenanceForm.get('payType').valid) || (!generateMaintenanceForm.get('payType').valid && generateMaintenanceForm.get('payType').touched) ">
                    <div *ngIf=" (generateMaintenanceForm.get('payType').errors.required) ">
                        Required
                    </div>
                </div>
            </div>
            <div class="p-field"
                *ngIf="this.generateMaintenanceForm.get('payType').value === 'Cheque' || this.generateMaintenanceForm.get('payType').value === 'Online'">
                <label for="referenceNo"> Reference No / Cheque No* </label>
                <input type="text" pInputText id="referenceNo" formControlName="referenceNo"
                    placeholder="Enter referenceNo" required autofocus maxLength="50" />
                <!-- <div class="p-invalid"
                    *ngIf=" generateMaintenanceFormSubmitted && generateMaintenanceForm.controls['referenceNo'].touched && (generateMaintenanceForm.controls['referenceNo'].hasError('required') && !generateMaintenanceForm.controls['referenceNo'].valid)">
                    required
                </div> -->
                <div class="p-invalid"
                    *ngIf="(generateMaintenanceFormSubmitted && !generateMaintenanceForm.get('referenceNo').valid) || (!generateMaintenanceForm.get('referenceNo').valid && generateMaintenanceForm.get('referenceNo').touched) ">
                    <div *ngIf=" (generateMaintenanceForm.get('referenceNo').errors.required) ">
                        Required
                    </div>
                </div>
            </div>
            <div class="p-field"
                *ngIf="this.generateMaintenanceForm.get('payType').value === 'Cheque' || this.generateMaintenanceForm.get('payType').value === 'Online'">
                <label for="bankName"> Bank Name* </label>
                <input type="text" pInputText id="bankName" formControlName="bankName" placeholder="Enter bankName"
                    required autofocus maxLength="50" />
                <!-- <div class="p-invalid"
                    *ngIf=" generateMaintenanceFormSubmitted && generateMaintenanceForm.controls['bankName'].touched && (generateMaintenanceForm.controls['bankName'].hasError('required') && !generateMaintenanceForm.controls['bankName'].valid)">
                    required
                </div> -->
                <div class="p-invalid"
                    *ngIf="(generateMaintenanceFormSubmitted && !generateMaintenanceForm.get('bankName').valid) || (!generateMaintenanceForm.get('bankName').valid && generateMaintenanceForm.get('bankName').touched) ">
                    <div *ngIf=" (generateMaintenanceForm.get('bankName').errors.required) ">
                        Required
                    </div>
                </div>
            </div>



            <div class="p-field">
                <label for="description"> Description </label>
                <textarea pInputText formControlName="description" maxlength="500" name="description" id="" cols="200"
                    rows="4" class="w-100" placeholder="Enter Description"></textarea>
                <!-- <input type="text" pInputText id="description" formControlName="description"
                    placeholder="Enter description" autofocus maxLength="50" /> -->
            </div>

            <div class="p-field">
                <label for="amountReceived"> Amount To Pay* </label>
                <input type="text" pInputText id="amountReceived" formControlName="amountReceived"
                    placeholder="Enter amountReceived" required autofocus pKeyFilter="num" maxLength="50" />
                <!-- <div class="p-invalid"
                    *ngIf=" generateMaintenanceFormSubmitted && generateMaintenanceForm.controls['amountReceived'].touched && (generateMaintenanceForm.controls['amountReceived'].hasError('required') && !generateMaintenanceForm.controls['amountReceived'].valid)">
                    required
                </div> -->
                <div class="p-invalid"
                    *ngIf="(generateMaintenanceFormSubmitted && !generateMaintenanceForm.get('amountReceived').valid) || (!generateMaintenanceForm.get('amountReceived').valid && generateMaintenanceForm.get('amountReceived').touched) ">
                    <div *ngIf=" (generateMaintenanceForm.get('amountReceived').errors.required) ">
                        Required
                    </div>
                </div>
            </div>

        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="bg-primary text-dark"
            (click)="hideGenerateReceiptDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="bg-dark"
            (click)="onSubmitGenerateReceipt(generateMaintenanceForm)"></button>
    </ng-template>

</p-dialog>
<p-dialog [(visible)]="editMaintenanceBillDialog" [style]="{width: '450px'}" header="{{popupHeader}}" [modal]="true"
    styleClass="p-fluid" (onHide)="onHideEdirMaintainenceDialog()">

    <ng-template pTemplate="content">
        <form [formGroup]="editMaintenanceForm" (ngSubmit)="onSubmitEditMaintenanceBill()">
            <div class="p-field">
                <label for="name">Select Maintainence Type* </label>
                <p-dropdown [options]="maintainenceType" formControlName="maintainenceType" optionValue="label"
                    [showClear]="true" placeholder="Select Maintainence type">
                </p-dropdown>
                <div class="p-invalid"
                    *ngIf="(editMaintenanceFormSubmitted && !editMaintenanceForm.get('maintainenceType').valid) || (!editMaintenanceForm.get('maintainenceType').valid && editMaintenanceForm.get('maintainenceType').touched) ">
                    <div *ngIf=" ( editMaintenanceForm.get('maintainenceType').errors.required) ">
                        Required </div>
                </div>
            </div>

            <div class="p-field">
                <label for="name">Month* </label>
                <p-dropdown [options]="monthList" formControlName="month" optionValue="label" [showClear]="true"
                    placeholder="Select Month">
                </p-dropdown>
                <div class="p-invalid"
                    *ngIf="(editMaintenanceFormSubmitted && !editMaintenanceForm.get('month').valid) || (!editMaintenanceForm.get('month').valid && editMaintenanceForm.get('month').touched) ">
                    <div *ngIf=" ( editMaintenanceForm.get('month').errors.required) ">
                        Required </div>
                </div>
            </div>

            <div class="p-field">
                <label for="maintenanceAmount">Maintenance Amount* </label>
                <input type="text" disabled pInputText id="maintenanceAmount" formControlName="maintenanceAmount"
                    placeholder="Enter Maintenance Amount" required autofocus pKeyFilter="num" maxLength="50" />
                <div class="p-invalid"
                    *ngIf="(editMaintenanceFormSubmitted && !editMaintenanceForm.get('maintenanceAmount').valid) || (!editMaintenanceForm.get('maintenanceAmount').valid && editMaintenanceForm.get('maintenanceAmount').touched) ">
                    <div *ngIf=" (editMaintenanceForm.get('maintenanceAmount').errors.required) ">
                        Required </div>
                </div>
            </div>
            <div class="p-field">
                <label for="waterAmount">Water Bill Amount* </label>
                <input type="text" disabled pInputText id="waterAmount" formControlName="waterAmount"
                    placeholder="Enter Water Amount" required autofocus pKeyFilter="num" maxLength="50" />
                <div class="p-invalid"
                    *ngIf="(editMaintenanceFormSubmitted && !editMaintenanceForm.get('waterAmount').valid) || (!editMaintenanceForm.get('waterAmount').valid && editMaintenanceForm.get('waterAmount').touched) ">
                    <div *ngIf=" (editMaintenanceForm.get('waterAmount').errors.required) ">
                        Required </div>
                </div>
            </div>
            <div class="p-field">
                <label for="currentReading">Current Reading* </label>
                <input type="text" pInputText id="currentReading" formControlName="currentReading"
                    placeholder="Enter Current Reading" required autofocus pKeyFilter="num" maxLength="50" />
                <div class="p-invalid"
                    *ngIf="(editMaintenanceFormSubmitted && !editMaintenanceForm.get('currentReading').valid) || (!editMaintenanceForm.get('currentReading').valid && editMaintenanceForm.get('currentReading').touched) ">
                    <div *ngIf=" (editMaintenanceForm.get('currentReading').errors.required) ">
                        Required </div>
                </div>
            </div>
            <div class="p-field">
                <label for="previousReading">Previous Reading* </label>
                <input type="text" pInputText id="previousReading" formControlName="previousReading"
                    placeholder="Enter Previous Reading" required autofocus pKeyFilter="num" maxLength="50"/>
                <div class="p-invalid"
                    *ngIf="(editMaintenanceFormSubmitted && !editMaintenanceForm.get('previousReading').valid) || (!editMaintenanceForm.get('previousReading').valid && editMaintenanceForm.get('previousReading').touched) ">
                    <div *ngIf=" (editMaintenanceForm.get('previousReading').errors.required) ">
                        Required </div>
                </div>
            </div>

            <div class="p-field">
                <label for="usedUnit">Used Water unit* </label>
                <input type="text" pInputText id="usedUnit" formControlName="usedUnit" placeholder="Enter Used Unit"
                    required autofocus pKeyFilter="num" maxLength="50" disabled />
                <div class="p-invalid"
                    *ngIf="(editMaintenanceFormSubmitted && !editMaintenanceForm.get('usedUnit').valid) || (!editMaintenanceForm.get('usedUnit').valid && editMaintenanceForm.get('usedUnit').touched) ">
                    <div *ngIf=" (editMaintenanceForm.get('usedUnit').errors.required) ">
                        Required </div>
                </div>
            </div>
            <div class="p-field">
                <label for="averageReading">Average Water Bill </label>
                <input type="text" pInputText id="averageReading" formControlName="averageReading"
                    placeholder="Enter Average Water bill" autofocus pKeyFilter="num" maxLength="50" />
                <div class="p-invalid"
                    *ngIf="(editMaintenanceFormSubmitted && !editMaintenanceForm.get('averageReading').valid) || (!editMaintenanceForm.get('averageReading').valid && editMaintenanceForm.get('averageReading').touched) ">
                    <div *ngIf=" (editMaintenanceForm.get('averageReading').errors.required) ">
                        Required </div>
                </div>
            </div>

            <div class="p-field">
                <label for="otherAmount">Other amount</label>
                <input type="text" pInputText id="otherAmount" formControlName="otherAmount"
                    placeholder="Enter Other Amount" autofocus pKeyFilter="num" maxLength="50" />
            </div>
            <div class="p-field">
                <label for="otherAmount">Other description</label>
                <input type="text" pInputText id="otherDescription" formControlName="otherDescription"
                    placeholder="Enter Other Description" autofocus/>
              
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="bg-primary text-dark"
            (click)="onHideEdirMaintainenceDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="bg-dark"
            (click)="onSubmitEditMaintenanceBill(editMaintenanceForm)"></button>
    </ng-template>

</p-dialog>