<p-table tyleClass="p-datatable-gridlines" [scrollable]="true" scrollHeight="400px" [value]="lstofMaintenance" #dt
    class="mx-3" [paginator]="true" [rows]="size" [totalRecords]="totalRecords"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} regions" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="rowsPerPageOptions">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of cols">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
        <tr>
            <td>
                {{data.userMasterid}}
            </td>
            <td>
                {{data.amount}}
            </td>
            <td>
                {{data.usedUnit}}
            </td>
            <td>
                {{data.previousReading}}
            </td>
            <td>
                {{data.currentReading}}
            </td>
            <td>
                {{data.payType}}
            </td>
            <td>
                <!-- <button style="font-size: 15px; padding: 10px;" class="p-button bg-dark rounded"
                    (click)="generateMaintenance(data.user_name)">
                    <i class="pi pi-upload" style="font-size: 15px"></i>
                </button> &nbsp;
                <button class="p-button bg-dark rounded" style="font-size: 15px; padding: 10px;"
                    (click)="generateMaintenanceBill(data.user_name)">
                    <i class="pi pi-eye" style="font-size: 15px"></i>
                </button> -->
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td [attr.colspan]="3" class="text-center">
                No records found
            </td>
        </tr>
    </ng-template>
</p-table>