<section class="relative w-full h-full py-40 min-h-screen">
    <div
      class="absolute top-0 w-full h-full bg-blueGray-800 bg-no-repeat bg-full"
      style="background-image: url('assets/img/register_bg_2.png')"
    >
</div>
<nav class="d-flex align-self-center main-nav bg-primary text-dark">
    <div class="py-2 pl-4">
        <b>Change Password</b>
    </div>
</nav>  
<div class="container mt-10 px-4 h-full">
    <div class="flex content-center items-center justify-center h-full">
      <div class="w-full lg:w-4/12 px-4">
        <div
          class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0"
        >
          <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
              <div class="relative mt-10 w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                  Username
                </label>
                <input
                  formControlName="username"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  placeholder="Username" pInputText pKeyFilter="alphanum"
                />
              </div>
              <div class="p-invalid" *ngIf="(submitted && !loginForm.get('username').valid) || (!loginForm.get('username').valid && loginForm.get('username').touched) ">

                <div *ngIf=" (loginForm.get('username').errors.required) ">
                    required
                </div>

            </div>
              
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                  Password
                </label>
                <input
                  type="password" formControlName="password"
                  class="form-control border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  placeholder="Password"
                />
              </div>
              <div class="p-invalid" *ngIf="(submitted && !loginForm.get('password').valid) || (!loginForm.get('password').valid && loginForm.get('password').touched) ">

                <div *ngIf=" (loginForm.get('password').errors.required) ">
                    required
                </div>

            </div>
            
              <div class="text-center mt-6">
                <button
                  class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                  type="submit"
                >
                  Change Password
                </button>
              </div>
            </form>
          </div>
        </div>
       
      </div>
    </div>
  </div>
</section>